QLineEdit, QTextEdit,
QPushButton, UDP_Window,
QCheckBox::indicator {
    color: white;
    border-radius: 6px;
}

QTextEdit {
    color: white;
}

QLabel {
    color: white;
}

UDP_Window {
    background-color: #13131a;
    border-radius: 6px;
}

QPushButton, QLineEdit,
QTextEdit, QCheckBox::indicator {
    background-color: #38384a;
}

QCheckBox::indicator::checked,
QtEasy--Widgets--QSystemsButtons #close,
QPushButton#send {
    background-color: #f2ef41;
    color: black;
}
