QLineEdit, QTextEdit,
QPushButton, UDP_Window,
QCheckBox::indicator {
    color: white;
    border: 2px solid white;
    border-radius: 6px;
}
QLabel {
    color: white;
}
UDP_Window {
    background-color: #317d05;
}

QPushButton, QLineEdit,
QTextEdit, QCheckBox::indicator {
    background-color: #51057d;
}

QCheckBox::indicator::checked,
QtEasy--Widgets--QSystemsButtons #close,
QPushButton#send {
    background-color: #7d0541;
}
