QLineEdit, QTextEdit,
QPushButton, UDP_Window,
QCheckBox::indicator {
    color: white;
    border: 2px solid white;
    border-radius: 6px;
}

QTextEdit {
    color: white;
}

QLabel {
    color: white;
}

UDP_Window {
    background-color: #070c52;
}

QPushButton, QLineEdit,
QTextEdit, QCheckBox::indicator {
    background-color: #3a0752;
}

QCheckBox::indicator::checked,
QtEasy--Widgets--QSystemsButtons #close,
QPushButton#send {
    background-color: #7d0541;
}
